.container {
    height: 100vh;
}

.container__cards {
    display: grid;
    grid-template: 200px 250px / repeat(2, 400px);
    justify-content: center;
    align-content: center;
    grid-template-areas: "container__cards--community container__cards--community"
                         "container__cards--subscription container__cards--whyUs";
}

.container__cards--community,
.container__cards--subscription,
.container__cards--whyUs {
    padding: 30px;
}

.container__cards--community {
    grid-area: container__cards--community;
    width: 100%;
    height: 100%;
}

.container__cards--subscription {
    grid-area: container__cards--subscription;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 6px;
}

.container__cards--whyUs {
    grid-area: container__cards--whyUs;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}

.container__cards--community h1 {
    font-size: 2.5rem;
}

.container__cards--community p:first-of-type {
    font-size: 1.9rem;
}

.container__cards--community p:last-of-type {
    font-size: 1.7rem;
}

.container__cards--subscription h2 {
    font-size: 2.2rem;
}

.container__cards--subscription span {
    font-size: 4rem;
}

.container__cards--subscription p {
    font-size: 1.5rem;
}

.container__cards--subscription p:last-of-type {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.container__cards--subscription button {
    font-size: 1.7rem;
}

.container__cards--whyUs h2 {
    font-size: 2.2rem;
}

.container__cards--whyUs p {
    font-size: 1.8rem;
}

.made-by {
    text-align: start;
}